gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Firebase
google-services.json

# string.xml
app/src/development/res/values/string.xml
app/src/production/res/values/string.xml
